<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>👨🏻‍💻Noor Abid Professional Portfolio</title>
    <!--Bootstrap CDN-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&family=Libre+Baskerville&family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <div
            class="col-9"
            style="margin-top: 28px; font-family: 'Amiri', Serif"
          >
            <p style="font-size: 30px">noor abid</p>
          </div>
          <ul
            class="nav col-3 col-lg-auto me-lg-auto mb-2 justify-content-center justify-content-lg-end mb-md-0"
          >
            <li>
              <a
                href="https://github.com/NoorAbid95"
                target="_blank"
                class="nav-link px-2 text-secondary"
              >
                <img
                  src="../static/github-mark-white.svg"
                  height="25"
                  width="25"
                  alt="GitHub Logo"
              /></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/noorabid/"
                target="_blank"
                class="nav-link px-2 text-white"
              >
                <img
                  src="../static/In-White-96.png"
                  height="25"
                  width="25"
                  alt="LinkedIn Logo"
              /></a>
            </li>
            <li>
              <a
                href="https://twitter.com/NoorAbid"
                target="_blank"
                class="nav-link px-2 text-white"
              >
                <img
                  src="../static/logo-white.png"
                  height="25"
                  width="25"
                  alt="Twitter/X Logo"
              /></a>
            </li>
            <li>
              <a
                id="email"
                href=""
                target="_blank"
                class="nav-link px-2 text-white"
              >
                <img
                  src="../static/envelope-at.svg"
                  height="25"
                  width="25"
                  alt="email logo"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div id="1" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="../static/fotor-ai-2023101114530.jpg"
            class="d-block mx-lg-auto img-fluid"
            alt="Avatar Image"
            width="300"
            height="200"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            About Me
          </h1>
          <h4>Software Engineer</h4>
          <p class="lead">
            I'm a former medical researcher who transitioned into software
            engineering. The dynamic and ever-evolving nature of tech captivates
            me. I'm passionate about its potential to shape our future, driven
            by an insatiable curiosity for technological advancements and their
            impact on society.
          </p>
        </div>
      </div>
      <div class="col">
        <h1 class="display-5 fw-bold text-body-emphasis lh-5 mb-3">Skills</h1>
      </div>
      <div class="row" style="margin-left: 25px">
        <div class="col-lg-3" style="margin-top: 17px">
          <img
            src="../static/python-logo-black-and-white.png"
            width="140"
            height="140"
            alt="Python Logo"
            class="bd-placeholder-img rounded-circle"
          />
        </div>
        <div class="col-lg-3" style="margin-top: 17px">
          <img
            src="../static/js_logo.jpg"
            width="160"
            height="160"
            alt="JS Logo"
            class="bd-placeholder-img rounded-circle"
            style="filter: grayscale()"
          />
        </div>
        <div class="col-lg-3" style="margin-top: 17px">
          <img
            src="../static/html_logo.png"
            width="160"
            height="157"
            alt="HTML Logo"
            class="bd-placeholder-img rounded-circle"
            style="filter: grayscale()"
          />
        </div>
        <div class="col-lg-3" style="margin-top: 36px">
          <img
            src="../static/css_logo.png"
            width="130"
            height="123"
            alt="CSS Logo"
            class="bd-placeholder-img"
            style="filter: grayscale()"
          />
        </div>
      </div>
      <div class="col-lg-6" style="margin-top: 80px; margin-bottom: 40px">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb">Projects</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="https://github.com/NoorAbid95/ChapterRewind">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="/static/Chapter_Rewind_Screenshot.png"
                data-holder-rendered="true"
                style="
                  height: 225px;
                  width: 100%;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <div class="card-body">
              <p class="card-text">
                A one-stop platform for book summaries and recaps built using
                Python, HTML, CSS and the Flask web-framework.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    style="width: 100px; margin-left: 100px"
                  >
                    <a
                      href="https://github.com/NoorAbid95/ChapterRewind"
                      style="text-decoration: none; color: black"
                      >View</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
              alt="Thumbnail [100%x225]"
              src="/static/Professional_portfolio_screenshot.png"
              data-holder-rendered="true"
              style="
                height: 225px;
                width: 100%;
                object-fit: cover;
                object-position: top;
              "
            />
            <div class="card-body">
              <p class="card-text">
                This professional portfolio built using Python, Javascript,
                Flask and the Bootstrap Framework
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    style="width: 100px; margin-left: 100px"
                  >
                    <a
                      style="text-decoration: none; color: black"
                      href="https://github.com/NoorAbid95/PythonTTS"
                      >View</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="https://github.com/NoorAbid95/PythonTTS">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                src="/static/python_tts_screenshot.png"
                data-holder-rendered="true"
                style="
                  height: 225px;
                  width: 100%;
                  object-fit: cover;
                  object-position: left;
                "
              />
            </a>
            <div class="card-body">
              <p class="card-text">
                A very simple text-to-speech converter made using the PyPDF2 and
                Google Text-to-Speech (gTTS) Python libraries.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    style="width: 100px; margin-left: 100px"
                  >
                    <a
                      style="text-decoration: none; color: black"
                      href="https://github.com/NoorAbid95/PythonTTS"
                      >View</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact_form" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-8 col-8 col-8">
          {% if success==1 %}
          <p class="alert alert-success">Message Sent Successfully!</p>
          {% endif %}
          <form method="POST">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
              Contact Me
            </h1>
            <label for="exampleFormControlInput1" class="form-label"
              >Email Address</label
            >
            <input
              type="text"
              name="email_address"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="email@example.com"
            />
            <div class="mb-3" style="margin-top: 20px">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Send a Message</label
              >
              <textarea
                name="message"
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Enter your message here:"
              ></textarea>
              <button
                class="btn btn-dark rounded-pill px-3"
                style="margin-top: 20px"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      document
        .getElementById("email")
        .addEventListener("click", function (event) {
          event.preventDefault();

          const contactFormSection = document.getElementById("contact_form");
          if (contactFormSection) {
            contactFormSection.scrollIntoView({ behavior: "smooth" });
          }
        });
    </script>
  </body>
</html>
